* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(93deg,rgb(20, 0, 25) 43%, rgba(85, 11, 89, 1) 100%);
    color: white;
    padding: 30px 0;
}

/*Cabeçalho - header */
header img { 
    width: 70px;
}

header nav {
    background: linear-gradient(93deg,#520066 43%, rgba(85, 11, 89, 1) 100%);
    display: flex;
    justify-content: space-between;
    width: 1000px;
    padding: 18px;  
    border-radius: 40px; 
    box-shadow: #1b0020 1px 3px 7px; 
    margin: auto;
    margin-top: 50px;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li {
    display: inline;
    padding: 0 20px;
    font-size: 18px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
}

header nav ul li a:hover {
    color: #b3370a;    
}

header nav ul button {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    border: none;
    width: 100px;
}

header nav ul button a {
    margin: auto;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: rgb(0, 70, 0);
}

header nav ul button a:hover {
    color: #b3370a;
}

/*Conteúdo principal - main */
main {
    width: 1000px;
    height: 62vh;
    display: flex;
  padding: 50px 0 0 10px;  
    justify-content: space-between;
    margin: auto;
    margin-top: 100px;
}

main section h1 {
    padding: 0 0 10px 20px;
    font-size: 24px;
    font-weight: 200;
}

main section p span {
    font-size: 30px;
    padding: 0 0 0 20px;
}

main section h2 {
    font-size: 60px;
    padding: 10px 0 0 20px;
}

main section h2 span {
    color: #a600cf;
}

main section p {
    line-height: 20px;
    padding: 0 0 20px 20px;
    font-size: 17px;
    font-weight: 300;
}


.btn-meus-projetos {
    padding: 20px;
    margin-left: 20px;
    margin-right: 30px;
    border-radius: 30px;
    border: none;
    width: 150px;
    background-color: rgb(252, 243, 243);
    font-size: 15px;
    font-weight: 600;
    color: #a600cf;
    box-shadow: #a600cf 1px .5px 3px;
}

.btn-meus-projetos a {
    text-decoration: none;
}

.btn-meus-projetos a:hover {
    color: #b3370a;
}

/*Rodapé - footer */
footer {
    text-align: center;
}

footer p {
    margin-bottom: 15px;
}

footer a:hover {
    color: #b3370a;
}
